* {
  margin: 0;
  background-color: red;
}
:root {
  /* Backgrounds */
  --bg-main: #f7f4ef; /* general */
  --bg-card: #ffffff; /* cards */
  --bg-soft: #f0ebe3; /* sections */

  /* Text */
  --text-primary: #1f1f1f; /* main */
  --text-secondary: #5a5a5a; /* seucndary */
  --text-muted: #8a8a8a; /* weak */

  /* Primary */
  --primary: #3b82f6;
  --primary-hover: #2563eb;

  /* Accent (highlights) */
  --accent: #f59e0b;

  /* Success / actions */
  --success: #22c55e;

  /* Borders */
  --border: #e5ded3;

  /* Shadows */
  --shadow: rgba(0, 0, 0, 0.08);
}
